* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Over the Rainbow", sans-serif;
  overflow: hidden;
  --pink: #e790de;
  --red: #e77373;
  --blue: #73deb7;
  --green: #73e7a8;
  --orange: #d4ca67;
  transition: 0.3s ease all;
}
body.ABOUT {
  background-color: var(--blue);
}
body.CONTACT {
  background-color: var(--red);
}

section {
  transform: translateX(100%);
  transition: 0.5s ease-in-out;
  z-index: -1;
  height: 90vh;
  margin-top: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-active {
  transform: translateX(0);
}

#landing-page-1 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.animating-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.circle {
  height: 100px;
  width: 100px;
}

.hey {
  margin-bottom: 30px;
}

.welcoming-msg {
  height: 100px;
}

#home {
}

footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 10px 20px;
}

.logo {
  height: 70px;
  cursor: pointer;
}
.burger-menu {
  background-color: var(--pink);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  z-index: 10;
}

nav {
  position: fixed;
  top: 0;
  right: 0%;
  width: 300px;
  height: 100vh;
  background-color: var(--pink);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s cubic-bezier(0.91, 0.21, 0.62, 0.95);
  transform: translateX(100%);
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 20px 0px;
}

nav ul li {
  font-size: 30px;
  font-family: "Original Surfer", sans-serif;
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: pointer;
}
nav ul li:hover {
  transform: translateY(10px);
}

nav.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.balloons {
  position: relative;
  width: 700px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.ball-bg {
  width: 700px;
}

.short-intro {
  position: absolute;
  color: white;
  font-size: 38px;
  left: 50%;
  top: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.short-intro span {
  font-family: "Original Surfer", sans-serif;
}

footer {
  margin-bottom: 20px;
}

footer p {
  font-family: "Original Surfer", sans-serif;
  color: black;
}

/* //////////////////////// About page /////////////////////////////// */
#about {
  font-family: "Original Surfer", sans-serif;
}

.about-main {
  text-align: center;
  height: 80vh;
  width: 100%;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-main h1 {
  font-size: 36px;
}
.about-container {
  padding: 10px 15px;
  width: 322px;
  height: 328px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--red);
  border-radius: 10px;
  box-shadow: 5px 8px 8px 3px rgba(0, 0, 0, 0.25);
}

.about-container p {
  font-size: 22px;
}
.my-pic {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

#about footer {
  margin-bottom: 20px;
}

#about footer p {
  font-family: "Original Surfer", sans-serif;
  color: white;
}

/* //////////////////////// Contact page /////////////////////// */
#contact {
  font-family: "Original Surfer", sans-serif;
}

.contact-main {
  text-align: center;
  height: 80vh;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-main h1 {
  font-size: 36px;
}
.contact-container {
  width: 322px;
  height: 328px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  border-radius: 10px;
  box-shadow: 5px 8px 8px 3px rgba(0, 0, 0, 0.25);
}

.contact-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.input-block {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 20px;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
.inputs label {
  color: black;
}
.inputs input,
textarea {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  color: gray;
  padding: 10px;
}

textarea {
  resize: none;
}

button {
  width: 50px;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 10px;
  display: flex;
  font-family: "Original Surfer", sans-serif;
  justify-content: center;
  cursor: pointer;
  color: white;
  background-color: var(--orange);
  margin-top: 20px;
  transition: 0.5s ease;
}
.contact-container form button:hover {
  transform: translateY(7px);
}

#contact footer {
  margin-bottom: 20px;
}

#contact footer p {
  font-family: "Original Surfer", sans-serif;
  color: white;
}

@media screen and (max-width: 700px) {
  nav {
    right: 0;
  }
  .circle {
    height: 70px;
    width: 70px;
  }
  header {
    width: 100%;
  }
  .logo {
    height: 50px;
  }
  .burger-menu {
    width: 30px;
    height: 30px;
  }
  .balloons {
    width: 100%;
  }
  .ball-bg {
    width: 600px;
  }
}
@media screen and (max-width: 675px) {
  .ball-bg {
    width: 500px;
  }
  .short-intro {
    width: 60%;
    font-size: 26px;
  }
}
@media screen and (max-width: 675px) {
  .ball-bg {
    width: 450px;
  }
}
@media screen and (max-width: 675px) {
  .short-intro {
    top: 45%;
  }
}
@media screen and (max-width: 500px) {
  nav {
    width: 100%;
  }
  .circle {
    height: 40px;
    width: 40px;
  }
  .ball-bg {
    width: 400px;
  }
  .short-intro {
    width: 90%;
  }
}
@media screen and (max-width: 410px) {
  .ball-bg {
    width: 350px;
  }
  .short-intro {
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  .ball-bg {
    width: 290px;
  }
}
